@{
    Layout = "/Views/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Подтвердите восстановления пароля";
}
<div class="p-1 text-center">
    <h4 class="text-info">@ViewData["Title"]</h4>
    <p>Пожалуйста, проверьте свою электронную почту для восстановления пароля.</p>
</div>