@{
    Layout = "/Views/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Блокировка";
}
<div class="p-1 text-center">
    <h4 class="text-danger">Вы заблокированы!</h4>
    <p class="text-danger">
        Превышено количество неуспешных попыток ввода учетных данных.<br />
        В целях безопасности учетная запись временно заблокирована, повторите попытку позже.
    </p>
</div>