@model LoginViewModel
@{
    Layout = "/Views/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Вход";
}

@addTagHelper *, PaulMiami.AspNetCore.Mvc.Recaptcha

<div class="p-1 wrapper-account mx-auto">
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal m-t-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-12">
                <label asp-for="Email" class="sr-only"></label>
                <input asp-for="Email" class="form-control" placeholder="Электронный адрес" autofocus />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <label asp-for="Password" class="sr-only"></label>
                <input asp-for="Password" class="form-control" placeholder="Пароль" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 ">
                <label class="custom-control custom-checkbox" asp-for="RememberMe">
                    <input class="custom-control-input" asp-for="RememberMe" />
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"> @Html.DisplayNameFor(m => m.RememberMe)</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 container-recaptcha">
                <recaptcha />
                <span class="text-danger" id="recaptchaErrorMessage"></span>
            </div>
        </div>
        <div class="form-group text-center row m-t-20">
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Войти</button>
            </div>
        </div>

        <div class="form-group mb-0 m-t-10 row">
            <div class="col-12 m-t-10 text-center">
                <a asp-action="ForgotPassword" class="text-muted"><i class="mdi mdi-lock"></i> Забыли пароль?</a>
            </div>
            @*<div class="col-12 m-t-10 text-center">
                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-muted"><i class="mdi mdi-account-circle"></i> Регистрация</a>
            </div>*@
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
}