@{
    Layout = "/Views/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Пароль изменен";
}
<div class="p-1 text-center">
    <h4 class="text-success">@ViewData["Title"]!</h4>
    <p>Вы успешно изменили свой пароль. Пожалуйста, <a asp-controller="Account" asp-action="Login">нажмите сюда для входа</a>.</p>
</div>