@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

    @section AfterCss {
        @RenderSection("AfterCss", required: false)
    }
<body class="account">

    <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card card-account">
                <div class="card-block">
                    <div class="text-center mt-0 m-b-15">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo logo-admin"><img src="~/images/logo.png" alt="Логотип IIS" class="account-logo" height="54"></a>
                        <h4 class="text-muted text-center font-20">DemoShop</h4>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>

    @await Html.PartialAsync("_FooterPartial")

    @await Html.PartialAsync("_ScriptPartial")
    <environment include="Development">
        <script src="~/js/account.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/account.min.js"></script>
   </environment>
    @RenderSection("Scripts", required: false)
</body>