@model CreateViewModel
@{
    ViewData["Title"] = "Создание покупки";
}
@section BeforeCss {
    @{ await Html.RenderPartialAsync("_ScriptSyncfusionCss"); }
}

<div class="row">
    <div class="col-12 col-sm-10 col-md-10 col-lg-8">
        <div class="card">
            <form asp-action="Create" method="post">
                <div class="card-body card-block">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PurchaseDate" class="control-label"></label>
                        <input type="date" asp-for="PurchaseDate" class="form-control" autofocus />
                        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductID" class="control-label"></label>
                        <input type="hidden" asp-for="ProductID" />
                        <ej-combo-box id="Products" datasource="(IEnumerable<PurchaseProductViewModel>)Model.Products"
                                      placeholder="Выберите категорию" select="products_onselect">
                            <e-combo-box-fields text="ProductName" value="ID" group-by="CategoryName" />
                        </ej-combo-box>
                        <span asp-validation-for="ProductID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Count" class="control-label"></label>
                        <input type="number" asp-for="Count" class="form-control" />
                        <span asp-validation-for="Count" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <a class="btn btn-secondary" asp-action="Index">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ScriptSyncfusionJs"); }
}
    <environment include="Development">
        <script src="~/js/purchases.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/purchases.min.js"></script>
    </environment>

