@model EditViewModel
@{
    ViewData["Title"] = "Редактирование единицы измерения";
}
<div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
            <form asp-action="Edit" method="post">

                <div class="card-body card-block">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="ShortName" class="control-label"></label>
                        <input asp-for="ShortName" class="form-control" autofocus />
                        <span asp-validation-for="ShortName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a class="btn btn-secondary" asp-action="Index">Отмена</a>
                </div>
            </form>

        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
