@{
    ViewData["Title"] = "Контакты";
}
<address>
    Республика Казахстан, г. Астана, 010000<br />
    Мобильный: <a href="tel:+7015359291">+7 (701) 535 9291</a><br />
    Электронный адрес: <a href="mailto:support@iit.kz">support@iit.kz</a>
</address>
<address>
    <strong>Вопросы и поддержка:</strong> <a href="https://support.iit.kz" target="_blank">Служба поддержки Интеллектуальные Системы</a>
</address>